<article class="post"> 
		<div class="post-title">
			<a class="post-title-link" href="<%- config.root %><%- item.path %>">
				<%- item.title || item.link || 'Untitled' %>
			</a>
		</div>
		<div class="post-time">
				<span class="time-text">
					<%= __('Post-info.Date') %>:&nbsp
				</span>
				<span class="time">
					<%= item.date.format(config.date_format) %>
				</span>
		</div>
		<div class="post-tags">
				<%- partial('article-tags') %>
		</div>
		<div class="post-content">
			<%- item.content %>
		</div>
</article>
<%- toc(page.content, {list_number: false}) %>
<%- js('js/toc.js') %>
<%- partial('../third party/comments') %>




