<article class="post"> 
		<div class="post-title">
			<a class="post-title-link" href="<%- config.root %><%- item.path %>">
				<%- item.title || item.link || 'Untitled' %>
			</a>
		</div>
		<div class="post-time">
				<span class="time-text">
					<%= __('Post-info.Date') %>:&nbsp
				</span>
				<span class="time">
					<%= item.date.format(config.date_format) %>
				</span>
		</div>
		<div class="post-tags">
				<%- partial('article-tags') %>
		</div>
		<div class="post-content">
			<%- item.content %>
		</div>
</article>
<div class="post-toc">
	<div id="post-catalog-text">
		<%= __('Catalog-info.Text') %>
	</div>
	<%- toc(page.content, {list_number: false}) %>
	<div id="post-toTop-text">
		<%= __('toTop-info.Text') %>
	</div>
</div>
<%- partial('../third party/comments') %>




