<% if(theme.valine.enable && theme.valine.appid && theme.valine.appkey){ %>
	<div id="vcomments"></div>
	<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
	<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
	<script>
	    new Valine({
	    el: '#vcomments' ,
	    appId: '<%- theme.valine.appid %>',
	    appKey: '<%- theme.valine.appkey %>',
	    notify: <%- theme.valine.notify %>, 
	    verify: <%- theme.valine.verify %>, 
	    placeholder: '<%- theme.valine.placeholder %>',
	    avatar: '<%- theme.valine.avatar %>', 
	    pageSize: <%- theme.valine.pageSize %>,
	    visitor: <%- theme.valine.visitor %>
	});
	</script>
<% } %>
