<header class="header">
	<span>
		<i class="fa fa-bars"></i> 
		<a href="https://github.com/Chorer/hexo-theme-PureBlue/tree/master/PureBlue">
			PureBlue
		</a>	
	</span>
	<div class="blog-title">
		<a href="<%- url_for() %>" class="logo"><%= config.title %></a>
	</div>
	<nav class="navbar">
		<ul class="menu">
			<% for(name in theme.menu) { %>
				<li class="menu-item">
					<a href="<%- url_for(theme.menu[name]) %>" class="menu-item-link">
						<%= name %>
					</a>
				</li>
			<% } %>	
		</ul>
	</nav>
	<i id="homelink"><%= config.url %>/</i>
</header>
