<header class="header">
	<div class="header_top">
		<span class="theme">
			<a href="<%- url_for() %>">
				My blog
			</a>	
		</span>
		<nav class="navbar">
			<ul class="menu">
				<% for(name in theme.menu) { %>
					<li class="menu-item">
						<i class="fa fa-<%= theme.menu[name].split(' || ')[1] %>"></i>
						<a href="<%- url_for(theme.menu[name].split(' || ')[0]) %>" class="menu-item-link">
							<%= name %>
						</a>
					</li>
				<% } %>	
			</ul>
		</nav>
	</div>
	<i id="homelink" data-link="<%= config.url %>/"></i>
	<div class="header_bottom">
		<div class="blog-title">
			<a href="https://github.com/Chorer/hexo-theme-PureBlue" class="logo"><%= config.title %></a>
			<div class="descrs">
				<div class="descr">个人博客</div>
				<div class="descr">" Do what you love,Love what you do "</div>
			</div>
			<div class="blog-down">
				<a href="javascript:void(0);">
					<i class="fa fa-angle-double-down fa-2x"></i>
				</a>
			</div>
		</div>
	</div>
</header>
